@{
    Layout = "_AdminLayout";
}

@model Nop.Plugin.Shipping.Correios.Models.PLPFechadaDetalheModel

@using Nop.Web.Framework;
@using Nop.Services;
@using Nop.Core.Infrastructure;
@using Nop.Web.Framework.UI;
@{ 

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    ViewBag.Title = T("Plugins.Shippings.Correios.PLPFechadaDetalhe").Text;

    Html.SetActiveMenuItemSystemName("PLPFechada");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Plugins.Shippings.Correios.PLPFechadaDetalhe")
            <small><i class="fa fa-arrow-circle-left"></i> <a href="/admin/Plugins/Shipping/ShippingCorreios/PLPFechada"> @T("Plugins.Shippings.Correios.PLPFechadaLista")</a></small>
        </h1>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn bg-purple">
                    <i class="fa fa-file-pdf-o"></i>
                    @T("Plugins.Shippings.Correios.PdfEtiquetas")
                </button>
                <button type="button" class="btn bg-purple dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">&nbsp;</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <button type="submit" name="pdf-etiqueta-all">
                            @T("Plugins.Shippings.Correios.PdfEtiquetas.All")
                        </button>
                    </li>
                    <li>
                        <button type="button" id="pdf-etiqueta-selected">
                            @T("Plugins.Shippings.Correios.PdfEtiquetas.Selected")
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @Html.ValidationSummary(false)

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Id)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.Id)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.CorreiosId)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.CorreiosId)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.DataFechamento)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.DataFechamento)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.QuantidadeObjetos)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.QuantidadeObjetos)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.UsuarioFechamento)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDisplayFor(model => model.UsuarioFechamento)
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="plpfechadadetalhe-grid"></div>

                    <script>
                        $(document).ready(function () {
                                var urlRead = "/admin/Plugins/Shipping/ShippingCorreios/PLPFechadaDetalheSelect?id=" + @Model.Id;
                                $("#plpfechadadetalhe-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: urlRead,
                                                type: "POST",
                                                dataType: "json",
                                                data: addAntiForgeryToken

                                            }
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors",
                                            model: {
                                                id: "Id",
                                                fields: {
                                                    Id: { editable: false, type: "number" }
                                                }
                                            }
                                        },
                                        error: function(e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        pageSizes: [@(gridPageSizes)]
                                    },
                                    scrollable: false,
                                    dataBound: onDataBound,
                                    columns: [{
                                        field: "Id",
                                        headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                        headerAttributes: { style: "text-align:center" },
                                        attributes: { style: "text-align:center" },
                                        template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                        width: 50
                                    }, {
                                        field: "Id",
                                        title: "@T("Plugins.Shippings.Correios.PLPID")",
                                        width: 50
                                    }, {
                                        field: "TrackingNumber",
                                        title: "@T("Plugins.Shippings.Correios.PLPTrackingNumber")",
                                        width: 100
                                    }, {
                                        field: "OrderId",
                                        title: "@T("Plugins.Shippings.Correios.PLPOrderId")",
                                        width: 100,
                                        template: '<a href="/admin/Order/Edit/#=OrderId#">#=OrderId#</a>'
                                    }, {
                                        field: "NomeDestinatario",
                                        title: "@T("Plugins.Shippings.Correios.PLPNomeDestinatario")",
                                        width: 100
                                    }, {
                                        field: "CepDestinatario",
                                        title: "@T("Plugins.Shippings.Correios.PLPCEPDestinatario")",
                                        width: 100
                                    }, {
                                        field: "Peso",
                                        title: "@T("Plugins.Shippings.Correios.PLPPeso")",
                                        width: 100
                                    },{
                                        field: "PesoEfetivo",
                                        title: "@T("Plugins.Shippings.Correios.PesoEfetivo")",
                                        width: 100
                                    }, {
                                        field: "ValorDeclarado",
                                        title: "@T("Plugins.Shippings.Correios.PLPValorDeclarado")",
                                        width: 100
                                    }, {
                                        field: "ValorFrete",
                                        title: "@T("Plugins.Shippings.Correios.PLPValorFrete")",
                                        width: 100
                                    }, {
                                        field: "ValorFreteEfetivado",
                                        title: "@T("Plugins.Shippings.Correios.ValorFreteEfetivado")",
                                        width: 100
                                    }
                                    ]
                                });
                            });

                    </script>

                </div>
            </div>

            <script>

                    var selectedIds = [];

                    $(document).ready(function () {



                        $('#mastercheckbox').click(function () {
                            $('.checkboxGroups').attr('checked', $(this).is(':checked')).change();
                        });

                        //wire up checkboxes.
                        $('#plpfechadadetalhe-grid').on('change', 'input[type=checkbox][id!=mastercheckbox]', function (e) {
                            var $check = $(this);
                            if ($check.is(":checked") == true) {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked == -1) {
                                    //add id to selectedIds.
                                    selectedIds.push($check.val());
                                }
                            } else {
                                var checked = jQuery.inArray($check.val(), selectedIds);
                                if (checked > -1) {
                                    //remove id from selectedIds.
                                    selectedIds = $.grep(selectedIds, function (item, index) {
                                        return item != $check.val();
                                    });
                                }
                            }
                            updateMasterCheckbox();
                        });

                    });
                    

                    function onDataBound(e) {
                        $('#plpfechadadetalhe-grid input[type=checkbox][id!=mastercheckbox]').each(function () {
                            var currentId = $(this).val();
                            var checked = jQuery.inArray(currentId, selectedIds);
                            //set checked based on if current checkbox's value is in selectedIds.
                            $(this).attr('checked', checked > -1);
                        });

                        updateMasterCheckbox();

                    }


                    function updateMasterCheckbox() {
                        var numChkBoxes = $('#plpfechadadetalhe-grid input[type=checkbox][id!=mastercheckbox]').length;
                        var numChkBoxesChecked = $('#plpfechadadetalhe-grid input[type=checkbox][id!=mastercheckbox]:checked').length;
                         $('#mastercheckbox').attr('checked', numChkBoxes == numChkBoxesChecked && numChkBoxes > 0);
                    }

            </script>
        </div>
    </div>
}

@*Print packaging slips selected (PDF). We don't use GET approach because it's limited to 2K-4K chars and won't work for large number of entities*@
@using (Html.BeginForm("PdfEtiquetaSelected", "ShippingCorreiosPluginAdmin", FormMethod.Post, new { id = "pdf-etiqueta-selected-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="selectedIds" name="selectedIds" value="" />
}

<script type="text/javascript">
                    $(document).ready(function () {
                        $('#pdf-etiqueta-selected').click(function (e) {
                            e.preventDefault();
                            var ids = selectedIds.join(",");
                            $('#pdf-etiqueta-selected-form #selectedIds').val(ids);
                            $('#pdf-etiqueta-selected-form').submit();
                            return false;
                        });
                    });
</script>

